/* Footer */

footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(19, 29, 49);

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 10%;
  }

  .container-footer p {
    text-align: center;
    color: rgba(235, 235, 238, 0.938);
    margin: 0 0 6px 0;
  }

  .container-footer2 a {
    display: flex;
    padding: 5px;
    color: rgba(235, 235, 238, 0.938);
    text-decoration: none;
    justify-content: center;
  }

  .iconos-rsocial {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 1px;
  }

  .iconos-rsocial img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
  }

  .iconos-rsocial img:hover {
    transform: scale(1.2);
  }

}
/* Footer */

footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(19, 29, 49);
  

footer p {
  display: flex;
  justify-content: center;
  color: rgba(235, 235, 238, 0.938);
}

.container-footer2 a {
  display: flex;
  padding: 5px;
  color: rgba(235, 235, 238, 0.938);
  text-decoration: none;
  justify-content: center;
}

.iconos-rsocial {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
}

.iconos-rsocial img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

.iconos-rsocial img:hover {
  transform: scale(1.2);
  /* efecto hover en los iconos */
}

}




