@use "../utilities/variables" as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $color-fondo-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;

    .logo {
        width: auto;
        max-height: 70px;
    }

    /* Titulos */

    .contenedor-titulos {
        text-align: center;
        flex: 1;
    }

    .titulos {
        font-size: 36px;
        font-style: italic;
        color: rgb(187, 219, 219);
        margin: 0;
    }

    /* Subtitulo */

    .subtitulo {
        font-size: 14px;
        color: rgb(187, 219, 219);
        margin: 0;
        font-style: italic;
    }

    /* Menú de Navegación */

    .menu-navegacion {
        display: flex;
        gap: 15px;
    }

    /* Ocultar el checkbox por defecto y el label.hamburger en desktop */

    #nav-toggle {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .menu-navegacion a {
        text-decoration: none;
        color: rgb(187, 219, 219);
        border: 1px solid rgb(187, 219, 219);
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .menu-navegacion a:hover {
        background-color: rgb(187, 219, 219);
        color: #060813;
    }

}

