.banner-cta{
  text-align: center;
  margin-top: 12px;
}

.banner-cta:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.btn-cta {
  display: inline-block;
  background: rgb(187, 219, 219);
  color: #060813;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}


.btn-plan {
  display: flex;
  justify-content: center;
  padding: 5px;
  
}

.btn-plan:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

