@use "../utilities/variables" as *;

body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #e0e0e0;
  /* Background gradient */
  background: $bg-gradient;
  background-repeat: no-repeat;
  background-attachment: fixed;
}