/* Tipografía general */

h1 {
  font-size: 36px;
  font-style: italic;
  color: rgb(187, 219, 219);
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: rgb(187, 219, 219);
  text-align: center;
  margin-bottom: 8px;
}

h3 {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 6px;
}

p {
  font-size: 16px;
  color: #e0e0e0;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 10px;
}